/* styles.css */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #1b1c2e; /* deep dark background */
  font-family: 'Arial', sans-serif;
}
